p
html{
font-size: 62.5%;
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;

}
ol{
    font-size: 1.6rem;

}
ol li
{
    padding: 1rem;
    margin-block-end: 1rem;
    border-radius: 0 0 2rem 0; /**/

}
.parillinen li:nth-child(even)
{
    background-color: blanchedalmond;

}
.pariton li:nth-child(odd)
{
    background-color: blanchedalmond;

}
/* Muotoillaan sectionit rinnakkain flexin avulla*/
.parent
{
    display: flex;
    flex-direction: row; /* motivaatio lapset saadaan helposti rinnakkain tai allekkain */
    flex-wrap: wrap; /* motivaatio lapset saadaan helposti rinnakkain tai allekkain */
}
/*lapset*/
.parent > *{
    flex-grow: 1; /*lapsen keskinäinen leveys*/
    flex-basis: 0; /*lapsen minimileveys-keeps elements parallel to each other*/
}
/* 1 specific child*/
.parent .parillinen{
    flex-grow: 2; /* tällä lapselle tuplaleveys*/
    margin-inline-end: 1rem; 
}
